.contenido{
  grid-template-columns: 1fr;

  grid-template-areas:"buscar"
                      "tabla";
}

/* Barra de busqueda y botones */
.buscar{
  grid-area: buscar;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "buscador botones";
  gap: 20px;
  justify-items: end;
  align-items: end;
  padding: 0 20px 10px 0;
}

.buscar__botones{
  grid-area: botones;
}

.buscar__buscador{
  width: 50vw;
  grid-area: buscador;
}

.formulario__input{
  width: 18vw !important; 
}
.tabla{
  grid-area: tabla;
  height: 80vh;

}

.table{
  width: 100%;
  max-height: 72vh;
  border-collapse: separate;
  border-spacing: 0;
}

.table thead{

  background-color: rgb(255, 0, 76);
  color: white;
  position: sticky;
  width: 100vw;
  height: 5vh;
  top: 0;
  left: 0;
}

.table tr{
  vertical-align: middle;
  text-align: center;

}

tbody > tr:hover{
  background-color: rgba(80, 80, 80, 0.13);
}

.tabla::-webkit-scrollbar{
  display: none;
}

.header h2{
  font-size: 3.5vh;
}

@media(min-width:720px){
  .contenido table thead{
    background-color: rgb(255, 0, 76);
  }

  .contenido table thead tr th{
    color: white;
  }
  
  /*-----------------------------SCROLL-------------------------------*/
  .tabla{
    display: flex;
    max-height: 80vh;
    width: 88vw;
    overflow: auto;
  }

  .tabla table{
    height: 10vh;
    border-collapse: separate;
    border-spacing: 0vw 1vh;
    border: transparent;
  }

  .tabla table thead{
    position: sticky;
    top: 0;
    left: 0;
  }

  .tabla table tbody tr{
    height: 5vh;
  }

  .tabla::-webkit-scrollbar{
    display: none;
  }
}