@import url('https://fonts.googleapis.com/css2? family=Nanum+Gothic:wght@400;700&family=Nanum+Myeongjo:wght@400;700&display=swap');

/* Generales */
*{
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: medium;
}

body{
    min-height: 100vh;
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 10vw 90vw;
    grid-template-rows: 90vh 10vh;
    grid-template-areas:"barra contenido"
                        "barra footer";
}

.contenido{
    height: 90vh;
    width: 90vw;
    grid-area: contenido;
    display: grid;
    justify-items: center;
    align-items: center;
}

h1{
    font-family: 'Nanum Myeongjo', sans-serif;
    font-size: x-large;
}

.oculto{
    display: none;
}

                                                    /* Barra de navegación */
.barra{
    height: 100vh;
    width: 10vw;
    grid-area: barra;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    background-color: rgb(198,33,99);
    border-top-right-radius: 8vh;
    border-bottom-right-radius: 8vh;
    box-shadow: .8vh 0 2.5vh rgb(0 0 0 / 50%);
}

.navegacion{
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.navegacion__img{
    display: grid;
    justify-items: center;
    align-items: center;
    box-shadow: inset -.4vh -.4vh .8vh .1vh rgba(0,0,0,0.6);
    border: 1px solid rgba(0,0,0,0.5);
}

.navegacion__img, .navegacion > a{
    width: auto;
    min-width: 4.5vw;
    height: 8vh;
    max-height: 13vh;
    min-height: 5vh;
    border-radius: 25%;
    background-color: #fff;
}

.navegacion__img:hover, .navegacion__img:focus, .navegacion__img > .active{
    background-color: rgb(209,209,209);
}

.navegacion__img > img{
    height: 6vh;
}


                                                    /*  Botones  */  
button{
    max-width: auto;
    max-height: auto;
    color: white;
    background-color: rgb(255, 0, 76);
    border:1px solid rgb(252, 67, 123);
    border-radius: 1.2vh;
    padding: 1vh 1vw;
    text-decoration: none;
    font-weight: bold;
    line-height: normal;
}

button:hover, .bttn:hover{
    background-color: rgb(182, 0, 55);
    border: 1px solid rgba(0,0,0,.20);
    cursor: pointer;
    box-shadow: 3px 3px rgb(0 0 0 / 50%);
    color: white;
}

                                                        /* inputs */
input[type="text"],input[type="search"],input[type="number"], input[type="password"], select{
    width: 15vw;
	background: #fff;
    background-color: white;
    border: 3px solid rgba(0,0,0,0.5);
    border-radius: 1.2vh;
    height: 5vh;
    line-height: 1.2vh;
    transition: .3s ease all;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    padding-left: 8px;
}

input:hover, input:focus, select:hover, select:focus{
    outline: none;
    border-color: rgb(255, 0, 0);
    box-shadow: 0px 0px 8px 0px rgb(92 90 105 / 89%);
}

.label__input{
    visibility: hidden;
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 5px;
}

.grupo-input{
    position: relative;
}

input:focus::placeholder{
    visibility: hidden;
}

input:focus~.label__input{
    visibility: visible;
    background-color: #ffff;
    top: -19px;
    left: 12px;
    border-radius: 5px;
    transition: .3s;
}

                                                    /* Ventana modal */
.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    position: fixed;
    align-items: center;
    justify-items: center;

}

.modalBox{
    display: grid;
    min-height: 70vh;
    max-height: 80vh;
    width: 60vw;
    padding: 3vh 3vw;
    border-radius: 1.2vh;
    box-shadow: -6px -6px 20px rgba(0,0,0,0.5);
}
                                                            /* Footer */
.footer{
    grid-area: footer;
    height: 10vh;
    width: 90vw;
    display: grid;
    grid-template-columns: 7fr 2fr;
    grid-template-areas: "copyright redes";
    align-items: center;
    justify-items: start;
}

.footer__copyright{
    margin-left: 20px;
    grid-area: copyright;
}

.footer__copyright > p{
    margin: 0;
}

.footer__redes{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.footer__redes-img{
    grid-area: red1;
}

.footer__redes-img > a, .footer__redes-img > a > img{
    height: 6vh;
    margin-right: 1vw;
}