                                                    /* Generales */
body{
    grid-template-areas: "contenido contenido"
                         "contenido contenido"
                         "contenido contenido";
}

.contenido{
    width: 100vw;
    height: 100vh;
    grid-area: contenido;
    grid-template-rows: 9vh auto 9vh;
    grid-template-areas: "header"
                         "formulario"
                         "botones";
}

hr{
    grid-area: divisor;
    height: 1px;
    width: 95vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.visible{
  display: inline-block;
}
                                                    /* Header */
.header{
  font-weight: bold;
  grid-area: header;
  height: 100%;
  color: rgb(255,255,255);
}

.titulo{
  background-color: rgb(198,33,99);
  width: 94vw;
  height: calc(100% - 2vh);
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 1.2vh;
  margin-top: 2vh;
}
                                                         /* Formulario */
.formulario{
    grid-area: formulario;
    width: 100vw;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.formulario form{
  width: 94vw;
}

.form{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#direccion{
  width: 25vw;
}
                                                            /* Botones */
.botones{
    grid-area: botones;
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 4vw;
}

.agregar{
    width: 100%;
    display: grid;
    justify-items: end;
}

.agregar img{
  height: 4.5vh;
  width: auto;
}

.regresar{
    width: 100%;
    display: grid;
    justify-items: start;
}