                                                    /* Generales */
.contenido{
  grid-template-rows: 10vh 80vh;
  grid-template-areas:"buscar"
                      "tabla";
}

                                              /* Barra de busqueda y botones */
.buscar{
  grid-area: buscar;
  width: 88vw;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "buscador botones";
  justify-items: end;
  align-items: center;
}

.buscar__buscador{
  width: 50vw;
  grid-area: buscador;
  position: relative;
}

.buscar__buscador > input{
  margin: 0;
}

.buscar__botones{
  grid-area: botones;
  display: grid;
}

.buscar__botones > button > img{
  height: 5vh;
  width: auto;
}

/* Tabla */
.tabla{
  grid-area: tabla;
  height: 80vh;
  display: flex;
  max-height: 80vh;
  width: 88vw;
  overflow: auto;
}

.tabla::-webkit-scrollbar{
  display: none;
}

.header h2{
  font-size: 3.5vh;
}