    <div class="footer">
        <div class="footer__copyright">
            <p>© Todos los derechos reservados - 2023</p>
        </div>
        <div class="footer__redes">
            <div class="footer__redes-img">
                <a href="https://web.whatsapp.com/" target="_blank"><img src="../img/whatsapp.png" alt="Whatsapp"></a>
                <a href="https://facebook.com" target="_blank"><img src="../img/facebook.png" alt="Facebook"></a>
                <a href="https://instagram.com" target="_blank"><img src="../img/instagram.png" alt="Instagram"></a>
            </div>
        </div>
    </div>
</body>
</html>