    <div class="barra">
        <div class="navegacion">
            <a href="inicio.php">
                <div class="navegacion__img">
                    <img title="Inicio" src="img/ventas.png" alt="Inicio" data-bs-toggle="tooltip" data-bs-placement="right">
                </div>
            </a>
        </div>

        <div class="navegacion">
            <a href="administrador_de_usuarios.php">
                <div class="navegacion__img">
                    <img title="Administrador de usuarios" src="img/administrador.png" alt="Administrador de Usuario" data-bs-toggle="tooltip" data-bs-placement="right">
                </div>
            </a>
        </div>

        <div class="navegacion">
            <a href="#">
                <div class="navegacion__img">
                    <img title="Registro" src="img/clientes.png" alt="Registro" data-bs-toggle="tooltip" data-bs-placement="right">
                </div>
            </a>
        </div>

        <div class="navegacion">
            <a href="#">
                <div class="navegacion__img">
                    <img title="Inventario" src="img/inventario.png" alt="Inventario" data-bs-toggle="tooltip" data-bs-placement="right">
                </div>
            </a>
        </div>

        <div class="navegacion">
            <a href="#">
                <div class="navegacion__img">
                    <img title="Reportes" src="img/reportes.png" alt="Reportes" data-bs-toggle="tooltip" data-bs-placement="right">
                </div>
            </a>
        </div>

        <div class="navegacion">
            <a href="#">
                <div class="navegacion__img">
                    <img title="Acerca de..." src="img/acerca_de.png" alt="Acerca de..." data-bs-toggle="tooltip" data-bs-placement="right">
                </div>
            </a>
        </div>

        <div class="navegacion">
            <a href="#">
                <div class="navegacion__img">
                    <img title="Mi cuenta" src="img/mi_cuenta.png" alt="Acerca de..." data-bs-toggle="tooltip" data-bs-placement="right">
                </div>
            </a>
        </div>
    </div>